.footer {
  padding: var(--spacing-m);
  background: var(--color--white);
}

.footer__inner {
  max-width: var(--breakpoint);
  margin: 0 auto;
}

.footer__copyright {
  font-size: var(--font-size--small);
}
